In [9]:
!pip install librosa

Collecting librosa
  Downloading librosa-0.10.0.post2-py3-none-any.whl (253 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 253.0/253.0 kB 316.5 kB/s eta 0:00:001m325.6 kB/s eta 0:00:01
Requirement already satisfied: typing-extensions>=4.1.1 in /home/kayongo/anaconda3/lib/python3.10/site-packages (from librosa) (4.4.0)
Requirement already satisfied: decorator>=4.3.0 in /home/kayongo/anaconda3/lib/python3.10/site-packages (from librosa) (5.1.1)
Requirement already satisfied: msgpack>=1.0 in /home/kayongo/anaconda3/lib/python3.10/site-packages (from librosa) (1.0.3)
Requirement already satisfied: numpy!=1.22.0,!=1.22.1,!=1.22.2,>=1.20.3 in /home/kayongo/anaconda3/lib/python3.10/site-packages (from librosa) (1.23.5)
Requirement already satisfied: pooch<1.7,>=1.0 in /home/kayongo/anaconda3/lib/python3.10/site-packages (from librosa) (1.4.0)
Collecting lazy-loader>=0.1
  Downloading lazy_loader-0.3-py3-none-any.whl (9.1 kB)
Requirement already satisfied: joblib>=0.14 in /home/kayongo/anaconda3/lib/python3.10/site-packages (from librosa) (1.1.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /home/kayongo/anaconda3/lib/python3.10/site-packages (from librosa) (1.3.0)
Collecting soxr>=0.3.2
  Downloading soxr-0.3.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 504.6 kB/s eta 0:00:00m eta 0:00:010:01:01
Collecting audioread>=2.1.9
  Downloading audioread-3.0.0.tar.gz (377 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 377.0/377.0 kB 716.7 kB/s eta 0:00:00[36m0:00:01[36m0:00:01
  Preparing metadata (setup.py) ... done
Collecting soundfile>=0.12.1
  Downloading soundfile-0.12.1-py2.py3-none-manylinux_2_31_x86_64.whl (1.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 527.8 kB/s eta 0:00:00m eta 0:00:010:01:01
Requirement already satisfied: numba>=0.51.0 in /home/kayongo/anaconda3/lib/python3.10/site-packages (from librosa) (0.56.4)
Requirement already satisfied: scipy>=1.2.0 in /home/kayongo/anaconda3/lib/python3.10/site-packages (from librosa) (1.10.0)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /home/kayongo/anaconda3/lib/python3.10/site-packages (from numba>=0.51.0->librosa) (0.39.1)
Requirement already satisfied: setuptools in /home/kayongo/anaconda3/lib/python3.10/site-packages (from numba>=0.51.0->librosa) (65.6.3)
Requirement already satisfied: requests in /home/kayongo/anaconda3/lib/python3.10/site-packages (from pooch<1.7,>=1.0->librosa) (2.28.1)
Requirement already satisfied: appdirs in /home/kayongo/anaconda3/lib/python3.10/site-packages (from pooch<1.7,>=1.0->librosa) (1.4.4)
Requirement already satisfied: packaging in /home/kayongo/anaconda3/lib/python3.10/site-packages (from pooch<1.7,>=1.0->librosa) (22.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/kayongo/anaconda3/lib/python3.10/site-packages (from scikit-learn>=0.20.0->librosa) (2.2.0)
Requirement already satisfied: cffi>=1.0 in /home/kayongo/anaconda3/lib/python3.10/site-packages (from soundfile>=0.12.1->librosa) (1.15.1)
Requirement already satisfied: pycparser in /home/kayongo/anaconda3/lib/python3.10/site-packages (from cffi>=1.0->soundfile>=0.12.1->librosa) (2.21)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/kayongo/anaconda3/lib/python3.10/site-packages (from requests->pooch<1.7,>=1.0->librosa) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/kayongo/anaconda3/lib/python3.10/site-packages (from requests->pooch<1.7,>=1.0->librosa) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in /home/kayongo/anaconda3/lib/python3.10/site-packages (from requests->pooch<1.7,>=1.0->librosa) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/kayongo/anaconda3/lib/python3.10/site-packages (from requests->pooch<1.7,>=1.0->librosa) (2023.5.7)
Building wheels for collected packages: audioread
  Building wheel for audioread (setup.py) ... done
  Created wheel for audioread: filename=audioread-3.0.0-py3-none-any.whl size=23704 sha256=b7db238fc27f3f9c9fd520e162a59f1e9b081ca53bf8cf163509079d099b4843
  Stored in directory: /home/kayongo/.cache/pip/wheels/3d/e0/4b/51b8aa4a0e2b6361c14943f7a7c2c7adb7b9cd419e0a1b720d
Successfully built audioread
Installing collected packages: soxr, lazy-loader, audioread, soundfile, librosa
Successfully installed audioread-3.0.0 lazy-loader-0.3 librosa-0.10.0.post2 soundfile-0.12.1 soxr-0.3.5

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
import requests
import csv
import urllib.request
%matplotlib inline

import librosa
import numpy as np
import os

In [2]:
# Opening dataset

df = pd.read_csv('bird_song_dataset.csv')
df.head()

,id,gen,sp,ssp,group,en,rec,cnt,loc,lat,...,rmk,bird-seen,animal-seen,playback-used,temp,regnr,auto,dvc,mic,smp
0,36065,Synallaxis,chinchipensis,NaN,birds,Chinchipe Spinetail,Frank Lambert,Peru,between Jaen and San Ignacio,NaN,...,This taxon is more usually called Chinchipe Sp...,unknown,unknown,unknown,NaN,NaN,no,NaN,NaN,44100
1,692727,Arremon,dorbignii,NaN,birds,Moss-backed Sparrow,Jacob Wijpkema,Bolivia,"Franz Tamayo, La Paz Department",-14.41850,...,"In Bolivia this is now called ""Moss-backed Spa...",yes,yes,no,NaN,NaN,no,NaN,NaN,44100
2,296852,Synallaxis,chinchipensis,NaN,birds,Chinchipe Spinetail,Ross Gallardy,Peru,"San Ignacio, Cajamarca",-5.49810,...,NaN,yes,yes,yes,NaN,NaN,no,NaN,NaN,44100
3,296851,Synallaxis,chinchipensis,NaN,birds,Chinchipe Spinetail,Ross Gallardy,Peru,"San Ignacio, Cajamarca",-5.49810,...,NaN,yes,yes,yes,NaN,NaN,no,NaN,NaN,44100
4,27768,Synallaxis,chinchipensis,NaN,birds,Chinchipe Spinetail,David Edwards,Peru,Chirinos,-5.24667,...,NaN,unknown,unknown,unknown,NaN,NaN,no,NaN,NaN,44100

* Performing Data Analysis

In [3]:
# check null columns
df.isnull()

,id,gen,sp,ssp,group,en,rec,cnt,loc,lat,...,rmk,bird-seen,animal-seen,playback-used,temp,regnr,auto,dvc,mic,smp
0,False,False,False,True,False,False,False,False,False,True,...,False,False,False,False,True,True,False,True,True,False
1,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,True,True,False,True,True,False
2,False,False,False,True,False,False,False,False,False,False,...,True,False,False,False,True,True,False,True,True,False
3,False,False,False,True,False,False,False,False,False,False,...,True,False,False,False,True,True,False,True,True,False
4,False,False,False,True,False,False,False,False,False,False,...,True,False,False,False,True,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,True,True,False,True,True,False
496,False,False,False,True,False,False,False,False,False,False,...,True,False,False,False,True,True,False,True,True,False
497,False,False,False,True,False,False,False,False,False,False,...,True,False,False,False,True,True,False,True,True,False
498,False,False,False,True,False,False,False,False,False,False,...,True,False,False,False,True,True,False,True,True,False
499,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,True,True,False,True,True,False

In [4]:
df['cnt'].unique()

array(['Peru', 'Bolivia', 'Argentina', 'Papua New Guinea', 'New Zealand',
       'Uruguay', 'Brazil', 'Paraguay', 'Australia', 'Indonesia',
       'Zambia', 'South Africa', 'Senegal', 'India', 'Thailand', 'China',
       'Mongolia', 'Russian Federation', 'South Korea', 'Japan',
       'Cambodia', 'United States', 'Ecuador', 'Colombia', 'Venezuela',
       'Costa Rica', 'Honduras', 'El Salvador', 'Nicaragua', 'Panama',
       'Mexico', 'Guatemala'], dtype=object)

In [5]:
df.columns

Index(['id', 'gen', 'sp', 'ssp', 'group', 'en', 'rec', 'cnt', 'loc', 'lat',
       'lng', 'alt', 'type', 'sex', 'stage', 'method', 'url', 'file',
       'file-name', 'sono', 'osci', 'lic', 'q', 'length', 'time', 'date',
       'uploaded', 'also', 'rmk', 'bird-seen', 'animal-seen', 'playback-used',
       'temp', 'regnr', 'auto', 'dvc', 'mic', 'smp'],
      dtype='object')

In [6]:
df['url'].isnull().sum()

0

In [7]:
df['type'].unique()

array(['call, song', 'song', 'call', 'rattle', 'duet, song', 'duet',
       'alarm (take off)', 'alarm call', 'song, song a',
       'call, flight call, call & flight call', 'fligth', '?',
       'flight call', 'flight call, water lapping',
       'flight call, caco frog', 'alarm call, call',
       'wings flapping sound', 'takeoff noise', 'wingbeats', 'call, duet',
       'canto', 'call, song, call and song', 'alarm call, alarm calls',
       'call, calls', 'call, alternate call', 'song?',
       'call, song, calls. song.', 'chorus', 'flock', 'call, ?',
       'dawn chorus', 'song, duet?', 'uncertain', 'call, allarm calls',
       'call, song, calls', 'call, aggression calls', 'alarm call?',
       'call, calls. wing whirrs.',
       'alarm call, alarm calls, wing sounds',
       'alarm call, agitated alarm calls', 'call, wing sound',
       'wing whirr', 'begging call', 'call, agitated calls',
       'call, contact calls',
       'call, song, contact calls and song by a pair', 'dawn song, song',
       'empoleirando', 'call, contact call', 'song, variation song',
       'duet, song, duet song'], dtype=object)

## DATA PREPROCESSING
 ENSURE THAT ALL FILES ARE COMPATIBLE TO THE MODEL

In [14]:

def preprocess_audio(audio_file, folder_name):
  """Preprocesses an audio file and returns a normalized numpy array."""

  # Load the audio file and unpack the tuple.
  audio_data, sample_rate = librosa.load(audio_file)

  # Convert the audio file to a consistent sample rate.
  audio_data = librosa.resample(audio_data, orig_sr=sample_rate, target_sr=22050)

  # Segment the audio file into individual calls.
  calls = librosa.effects.split(audio_data, top_db=-40, frame_length=2048, hop_length=512)

  # Normalize the audio for consistent volume levels.
  normalized_calls = []
  for call_start, call_end in calls:
    call = audio_data[call_start:call_end]
    call = librosa.util.normalize(call, axis=0)
    normalized_calls.append(call)

  # Create the directory for preprocessed data if it doesn't exist
  preprocessed_dir = os.path.join("preprocessed_data", folder_name)
  os.makedirs(preprocessed_dir, exist_ok=True)

  # Save the preprocessed audio calls to a file.
  file_name = os.path.basename(audio_file) + ".npy"
  save_path = os.path.join(preprocessed_dir, file_name)
  np.save(save_path, normalized_calls)